<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Draaien</h1>
    <form action="/draaien" method="POST">
        <div>
            0
            <input
                type="range"
                name="degrees"
                min="0"
                max="180"
                step="1"
                value="0"
                placeholder="Graden">
            180
        </div>
        <button type="submit">Draaien</button>
    </form>
</body>
</html>